.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
polling/www/*.html
polling/public/frontend/node_modules
polling/public/frontend/dist

# Frontend build assets
polling/public/frontend/assets/
polling/public/frontend/index.html
dist/
build/